<div class="mat-app-background">
  <mat-toolbar color="primary">
    <span>{{ 'APP.TITLE' | translate }}</span>
    <span class="spacer"></span>
    <button mat-button [matMenuTriggerFor]="languageMenu">
      {{ 'APP.LANGUAGE' | translate }}
      <mat-icon>language</mat-icon>
    </button>
    <mat-menu #languageMenu="matMenu">
      <button mat-menu-item (click)="switchLanguage('en')" [class.active]="currentLang === 'en'">
        English
      </button>
      <button mat-menu-item (click)="switchLanguage('zh-TW')" [class.active]="currentLang === 'zh-TW'">
        繁體中文
      </button>
    </mat-menu>
  </mat-toolbar>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
